.container {
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
}

.content {
    flex: 1;
    opacity: 0;
    transition: 500ms;
    transform: translateY(100px);
    padding-top: var(--top-margin);
}

.content.shown {
    opacity: 1;
    transform: translateY(0);
}

.backToHome {
    margin: 3rem 0 0;
}

.nav_menu_title {
    margin-bottom: 10px;
}

main.detail {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: aliceblue;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0;
    }
}
